@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<DataParsers.Models.GomelSatNewsModel>

@section Scripts{
    <script type="text/javascript">
        function RemoveAnnoyingWords(id) {
            setTimeout(function () {

                var oldValue = $('#' + id).val();
                var newValue = oldValue.replace(/Взято с http:\/\/www.telesat-news.net.*Спутниковые и Транспондерные ТелеНовости$/, "");
                $('#' + id).val(newValue);

            }, 100);
        }
    </script>

}

@{
    var index = 0;
}

@foreach (var header in @Model)
{
    index++;
    <div class="page-header">
        <h2> @Html.Raw(@header.HeaderName) </h2>
        <p>
            @Html.Raw(@header.HeaderText)
        </p>

        <br/>

        <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target=@("#collapseText" + index) aria-expanded="false" aria-controls="collapseText">
            Show/Hide full text of this article
        </button>

        <br/>

        <div class="collapse" id=@("collapseText" + index)>
            <div class="well">
                @Html.Raw(@header.Text)
            </div>
        </div>
    </div>
}

<div class="following-box panel panel-primary ">
    <div class="panel-heading">
        <h3 class="panel-title">Please check the text</h3>
    </div>
    <div class="following-box-content">
        @using (Html.BeginForm("AnalizeText", "GomelSatNews", new {}, FormMethod.Post, new {}))
        {
            <p> Please, write the headline here: </p>

            <input type="text" id="newsHeader" name="newsHeader" class="following-box-header" onpaste="RemoveAnnoyingWords('newsHeader')"/>

            <p> Please, write the text here: </p>

            <textarea id="newsText" name="newsText" class="following-box-text" onpaste="RemoveAnnoyingWords('newsText')"></textarea>

            <input type="submit" class="btn btn-primary pull-right" value="Search">
        }
    </div>
</div>